@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300,600);
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "open sans", helvetica, arial, sans;
}
body {
  background: url(https://img.freepik.com/free-photo/collage-customer-experience-concept_23-2149367121.jpg?t=st=1725428904~exp=1725432504~hmac=65a6a92c609b1e5f605b99721db7c81444f9711feb04712c2864aabe6e124d4a&w=2000)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: aliceblue;
  padding: 10px 80px 10px 80px;
}
input {
  outline: none;
  border: none;
  padding: 5px;
  margin: 5px 0 5px 0;
  background-color: aliceblue;
}
.student-details select,
.student-details select:focus {
  outline: none;
  border: none;
  padding: 5px 2px 5px 2px;
  margin: 5px 0 5px 0;
  background-color: aliceblue;
}
.student-details #year {
  margin-left: 80px;
}
.student-details #sem {
  margin-left: 119px;
}
.student-details #date {
  margin-left: 60px;
}
.student-details #branch {
  margin-left: 136px;
}
.student-details #section {
  margin-left: 135px;
}
.student-details #subject {
  margin-left: 135px;
}
.student-feedback label {
  padding-right: 45px;
}
.student-feedback input[type="radio"] {
  margin: 0 2px 0 2px;
}
.student-feedback textarea {
  width: 500px;
  height: 100px;
  outline: none;
  border: none;
  padding: 8px;
  margin: 5px 0 5px 0;
  background-color: aliceblue;
}
.submit-form {
  padding-top: 20px;
}
.submit-form #submit {
  font-size: medium;
  font-weight: bold;
  width: 100px;
}
.admin-login {
  position: absolute;
  right: 80px;
  padding-top: 20px;
}
.admin-login #admin {
  font-size: medium;
  font-weight: bold;
  width: 100px;
}
.copyright-text {
  font-size: 14px;
}
