@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300,600);

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "open sans", helvetica, arial, sans;
}

body {
  background: url(https://img.freepik.com/free-photo/collage-customer-experience-concept_23-2149367121.jpg?t=st=1725428904~exp=1725432504~hmac=65a6a92c609b1e5f605b99721db7c81444f9711feb04712c2864aabe6e124d4a&w=2000)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: rgb(132, 190, 242);
  padding: 180px 0 0 120px;
}

h2 {
  padding-bottom: 30px;
}

input {
  outline: none;
  border: none;
  padding: 8px;
  margin: 5px 0 5px 0;
  background-color: rgb(137, 197, 249);
}

label {
  font-size: 18px;
}

#email {
  margin-left: 105px;
  width: 250px;
}

#password {
  margin-left: 70px;
  width: 250px;
}

#login {
  font-size: medium;
  font-weight: bold;
  width: 75px;
  margin-top: 25px;
}
